body.Home {
    background-image: url(./Background_3_1600x720.jpg);
    background-repeat: no-repeat;
    font-family: 'Playball', cursive;
}
body.Contact {
    background-image: url(./About_background_1600x720\ \(1\).jpg);
    background-repeat: no-repeat;
    font-family: 'Playball', cursive;
}
body.About {
    background-image: url(./About\ me.jpg);
    background-repeat: no-repeat;
    font-family: 'Playball', cursive;
}
a {
    text-decoration: none;
    color:black;
    font-weight: 900;
}
nav.About a {
    color:black;
    font-weight: 900;
}
nav.Contact a {
    color:black;
    font-weight: 900;
}
h1 {
    color: #94D600;
    font-size: 64px;
    left: 115px;
    position: absolute;
    top: -20px;
    animation: h1 12s;
    animation-fill-mode: forwards;
}
nav ul {
    display: inline-flex;
    position: absolute;
    right: 20px;
    top: -15px;
    list-style: none;
    animation: nav 12s;
    animation-fill-mode: forwards;
    
}
nav ul li {
    justify-content: space-between;
    font-size: 32px;
}
nav img {
    position: relative;
    top: 15px;
    margin-right: 5px;
    margin-left: 40px;
    width: 50px;
    height: 50px;
}
footer.Footer {
    position: absolute;
    bottom: 70px;
    width: 350px;
    right: 20px;
}
.copyright {
    position: absolute;
    bottom: 0;
    bottom: -20px;
    left:15px;
    font-size: 30px;
}
.contactdetails {
    position: absolute;
    top: 20%;
    left: 6%;
    font-size: 36px;
    padding: 15px;
    width: 540px;
    color: black;
}
.PersonalPhoto img {
    height: 240px;
    width:220px;
    border-radius: 50%;
    position: absolute;
    top: 235px;
    right: 225px;
}
.Aboutme {
    position: absolute;
    top: 15%;
    left: 3%;
    font-size: 36px;
    padding: 15px;
    width: 410px;
    color: black;
}
.Aboutme header {
    color: blue;
}
.ProfessionalExperience {
    position: absolute;
    top: 51%;
    left: 30%;
    font-size: 36px;
    padding: 15px;
    width: 410px;
    color: black;
}
.ProfessionalExperience header {
    color: blue;
}
.EducationalBackground {
    position: absolute;
    top: 75%;
    left: 60%;
    font-size: 36px;
    padding: 15px;
    width: 410px;
    color: black;
}
.EducationalBackground header {
    color: blue;
}
@keyframes h1 {
    from {left: 350px;}
    to {left: 115px;}
  }
@keyframes nav {
    from {right:350px;}
    to {right: 20px;}
}
